
// 所有按钮居中
.main {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}


// 通用
.btn{
  text-align: center;
  display: inline-block;
  margin: 20rpx;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  border-radius: 5px;
}

// 匹配赛
.btnImg{
  width: 100%;
  display: block;
}
.ranked {
  background: linear-gradient(to right,#ff5757,#b30101);
  height: 400rpx;
  width: 680rpx;
  line-height: 400rpx;
  vertical-align: middle;
}
.ranked .btnImg{
  text-align: center;
  width: 60%;
  vertical-align:middle;
  display: inline-block;
  height: 400rpx;
  line-height: 400rpx;
}
.ranked image{
  width:90%;
  height: 300rpx;  
  margin-top: 50rpx;
}
.ranked text{
  height: 300rpx;
  line-height: 100rpx;
  padding-right: 10%;
  padding-left: 8%;
  letter-spacing: 15rpx;
  font-size: 65rpx;
  vertical-align:middle;
  width: 10%;
  display: inline-block;
}

// 创建房间
.create-room-btn {
  text-align: center;
  display: inline-block;
  margin: 20rpx;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  border-radius: 5px;
  overflow: hidden;
}
.create-room-btn view {
  background: linear-gradient(to right,#ff5757,#b30101);
  height: 200rpx;
  width: 320rpx;
  line-height: 200rpx;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 18rpx;
}

// 加入房间
.join-room-btn {
  text-align: center;
  display: inline-block;
  margin: 20rpx;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  border-radius: 5px;
  overflow: hidden;
}
.join-room-btn view {
  background: linear-gradient(to right,#ff5757,#b30101);
  height: 200rpx;
  width: 320rpx;
  line-height: 200rpx;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 18rpx;
}

// 战术点评、数据分析、用户信息
.forum-btn, .analysis-btn, .user-btn {
  text-align: center;
  display: inline-block;
  margin: 20rpx;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  border-radius: 5px;
  overflow: hidden;
}
.forum-btn view, .analysis-btn view, .user-btn view {
  background: linear-gradient(to right,#ff5757,#b30101);
  height: 100rpx;
  width: 100rpx;
  padding: 50rpx;
}
.forum-btn text, .analysis-btn text, .user-btn text {
  line-height: 50rpx;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 16rpx;
  word-wrap:break-word;
}
