.room-container {
  padding: 30rpx;
}

.room-player-list {
  margin-top: 30rpx;
}

// 导航栏
.nav-wrap-extclass .navbar-status {
  background: #c10000 !important;
}

// 底部
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
}
.footer-first-line, .footer-second-line {
  display: inline-flex;
}
