.room-container {
  padding: 30rpx;
}

.room-personal-card {
}

.room-player-list {
  margin-top: 30rpx;
}


// 底部
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
}
.footer-first-line, .footer-second-line {
  display: inline-flex;
}

// 房间信息悬浮按钮
.left-tab {
  width: 30rpx;
  height: 60rpx;
  background-color: #c8c8c8;
  position: fixed;; 
  top: 150rpx;
  left: 30rpx;
  border-radius: 0 30rpx 30rpx 0;
}
.right-tab {
  width: 30rpx;
  height: 60rpx;
  background-color: #c8c8c8;
  position: fixed;; 
  top: 150rpx;
  right: 30rpx;
  border-radius: 30rpx 0 0 30rpx;
}
.left-tab-img {
  width: 20rpx;
  height: 20rpx;
  margin-top: 20rpx;
}
.right-tab-img {
  width: 20rpx;
  height: 20rpx;
  margin-top: 20rpx;
  margin-left: 8rpx;
}